<footer>
    <div class="grid">
        <div class="grid__item one-twelfth">
            <div class="footer__logo-container">
                <a href="/" class="footer__logo"><img src="/img/footer__logo.png" class="footer__logo-img"/></a>
                <a href="mailto:b@brandonz.me?body=Looking for a UI Designer kind of guy? Ask me whatever you'd like. Thanks for getting in touch!" target="_blank" class="logo__alert-box"><span class="logo__alert">Hire me!</span></a>
            </div>
        </div>
        <div class="grid__item one-quarter push--one-sixth">
            <h4>SKILLS</h4>
            <div class="skills">
                <div class="skill">
                    <p>Illustrator<span> - Layout / design creation</span></p>
                    <div class="skill-max"><div class="skill-level skill--illustrator"></div></div>
                </div>
                <div class="skill">
                    <p>Photoshop<span> - Edit photos</span></p>
                    <div class="skill-max"><div class="skill-level skill--photoshop"></div></div>
                </div>
                <div class="skill">
                    <p>HTML<span> - Structure web designs</span></p>
                    <div class="skill-max"><div class="skill-level skill--html"></div></div>
                </div>
                <div class="skill">
                    <p>CSS / SCSS<span> - Bring designs to life</span></p>
                    <div class="skill-max"><div class="skill-level skill--scss"></div></div>
                </div>
                <div class="skill">
                    <p>jQuery<span> - Add functionality / interaction</span></p>
                    <div class="skill-max"><div class="skill-level skill--jquery"></div></div>
                </div>
                <div class="skill">
                    <p>Liquid<span> - Template language</span></p>
                    <div class="skill-max"><div class="skill-level skill--liquid"></div></div>
                </div>
            </div>
        </div>
        <div class="footer__contact-social grid__item one-sixth push--one-quarter">
            <h4>CONTACT / SOCIAL</h4>
            <a href="/brandonz-resume.pdf" target="_blank" class="contact-social__link"><i class="fa fa-file-text-o"></i>Resume</a>
            <a href="mailto:b@brandonz.me" target="_blank" class="contact-social__link"><i class="fa fa-envelope-o"></i>Email me</a>
            <div class="contact-social__spacer"></div>
            <a href="https://github.com/bzle" target="_blank" class="contact-social__link"><i class="fa fa-github-square"></i>GitHub</a>
            <a href="https://www.linkedin.com/in/brandonz" target="_blank" class="contact-social__link"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
            <a href="https://www.facebook.com/zellb" target="_blank" class="contact-social__link"><i class="fa fa-facebook-square"></i>Facebook</a>
        </div>
        <div class="grid__item one-sixth push--one-third">
            <h4>LEGAL</h4>
            <p>©<span class="copyright-year"></span> Brandon Zell. All rights reserved.</p>
            <a href="/privacy-policy/">Privacy Policy</a>
        </div>
    </div>
</footer>