<footer>
    <div class="grid">
        <div class="grid__item one-twelfth">
            <a href="/" class="footer__logo">footer logo<img class="footer__logo"/><span class="hire-me">Hire me!</span></a>
        </div>
        <div class="grid__item one-quarter push--one-sixth">
            <h4>SKILLS</h4>
            <ul class="skills">
                <li class="skill">
                    <p>Illustrator<span> - Create designs before coding</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>Photoshop<span> - Edit photos</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>HTML<span> - Structure web designs</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>CSS / SCSS<span> - Bring designs to life</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>jQuery<span> - Add functionality / interaction</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>Liquid Templating<span> - Create dynamic sites</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
            </ul>
        </div>
    </div>
</footer>