<footer>
    <div class="grid">
        <div class="grid__item one-twelfth">
            <a href="/" class="footer__logo">footer logo<img class="footer__logo"/><span class="logo__alert">Hire me!</span></a>
        </div>
        <div class="grid__item one-quarter push--one-sixth">
            <h4>SKILLS</h4>
            <ul class="skills">
                <li class="skill">
                    <p>Illustrator<span> - Create designs before coding</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>Photoshop<span> - Edit photos</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>HTML<span> - Structure web designs</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>CSS / SCSS<span> - Bring designs to life</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>jQuery<span> - Add functionality / interaction</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
                <li class="skill">
                    <p>Liquid Templating<span> - Create dynamic sites</span></p>
                    <div class="skill-max"><div class="skill-level"></div></div>
                </li>
            </ul>
        </div>
        <div class="footer__contact-social grid__item one-sixth push--one-quarter">
            <h4>CONTACT / SOCIAL</h4>
            <a href="#" class="contact-social__link"><i>icon</i>Resume</a>
            <a href="#" class="contact-social__link"><i>icon</i>Email me</a>
            <div class="contact-social__spacer"></div>
            <a href="#" class="contact-social__link"><i>icon</i>GitHub</a>
            <a href="#" class="contact-social__link"><i>icon</i>LinkedIn</a>
            <a href="#" class="contact-social__link"><i>icon</i>Facebook</a>
        </div>
        <div class="grid__item one-sixth push--one-third">
            <h4>LEGAL</h4>
            <p>©2016 Brandon Zell. All rights reserved.</p>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
    <div class="grid">
        <div class="grid__item one-whole"><img class="osx-dock" />My dock</div>
    </div>
</footer>